@import 'styles/colors';

#editor {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 3.5em;
	width: 55%;
	overflow: hidden;
	.title {
		font-size: 1.5em;
		line-height: 1.3em;
		font-weight: 300;
		margin: 0.3em 0 0.75em;
		padding: 0 0 0.75em;
		border-bottom: 1px solid $light-gray;
	}
	.content {
		height: 95%;
		overflow: auto;
	}
	.status {
		font-size: 0.85em;
		position: fixed;
		right: 35px;
		top: 6.4em;
		display: none;
		.fa {
			background: $primary;
			color: #fff;
			padding: 0.25em;
			margin-right: 0.25em;
			border-radius: 50%;
		}
	}
}
