@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

html, body, #root, #root > div {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
body {
	color: #444;
	font-size: 18px;
	line-height: 1.5em;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.5em;
	font-weight: 300;
}
h2 {
	font-size: 0.85em;
	font-weight: 700;
	text-transform: uppercase;
}
p, li {
	font-size: 1em;
}

.clearfix {
	clear: both;
}

.panel {
	padding: 1.25em 0 3.5em;
	height: 100%;
	overflow: auto;
	float: left;
	position: relative;
	box-sizing: border-box;
}
.panel:last-child {
	border: none;
}
.panel h2 {
	padding: 0 25px 1em;
	margin: 0;
}

.selections .item {
	padding: 0.5em 25px;
	cursor: pointer;
}
.selections .item .title {
	color: #66bb6a;
	font-weight: 700;
}
.selections .item .delete {
	display: none;
	margin: 0.25em 0 0;
	float: right;
}
.selections .item .updated {
	color: #999;
	font-size: 0.75em;
	line-height: 1.4em;
	font-weight: 700;
}
.selections .item .preview {
	color: #999;
	font-size: 0.75em;
	line-height: 1.25em;
	margin: 0.5em 0;
}
.selections .item.active {
	background: #66bb6a;
}
.selections .item.active .title, .selections .item.active .updated, .selections .item.active .preview {
	color: #fff;
}
.selections .item:hover {
	background: #7fc682;
}
.selections .item:hover .title, .selections .item:hover .updated, .selections .item:hover .preview {
	color: #fff;
}
.selections .item:hover .delete {
	color: #d0ead1;
	display: inline-block;
	transition: 0.1s all ease-in-out;
}
.selections .item:hover .delete:hover {
	color: #fff;
}
.selections .item.note.active {
	background: #7fc682;
}
.selections .item.note:hover {
	background: #d0ead1;
}

.addition {
	color: #999;
	font-size: 0.8em;
	padding: 0.5em 25px;
	margin: 1.5em 0 0;
	box-sizing: border-box;
	cursor: pointer;
}
.addition:hover {
	color: #666;
}
.addition .fa {
	margin-right: 0.5em;
}

[contenteditable]:focus {
	outline: 0px solid transparent;
}
