@import 'styles/colors';

nav {
	background: $negative;
	color: #fff;
	padding: 0 25px;
	height: 7%;
	overflow: hidden;
	box-sizing: border-box;
	h1 {
		margin: 0.65em 0 0;
		float: left;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		float: right;
		li {
			display: inline-block;
			a {
				padding: 1em 0.75em;
				max-height: 100%;
				display: inline-block;
			}
		}
	}
	a {
		color: #ffffff;
		text-decoration: none;
		&:hover {
			background: lighten($negative, 10%);
		}
	}
}
